<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <!--<add name="RisConnString" connectionString="server=.\SQLEXPRESS;database=a0718152616;uid=a0718152616;pwd=45678537" providerName="System.Data.SqlClient"/>-->
    <add name="RisConnString" connectionString="provider=sqloledb;data source=127.0.0.1,1433;User ID=a0718152616;pwd=45678537;Initial Catalog=a0718152616"/>
  </connectionStrings>
</configuration>
