div {
	color: rgb(255, 255, 255); font-size: 12px; vertical-align: middle;
}
a {
	color: rgb(255, 255, 255); font-size: 12px; vertical-align: middle;
}
span {
	color: rgb(255, 255, 255); font-size: 12px; vertical-align: middle;
}
label {
	color: rgb(255, 255, 255); font-size: 12px; vertical-align: middle;
}
input {
	vertical-align: middle;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.hide {
	display: none;
}
#othericon {
	background: url("http://st1.dbank.com/images/index/allicon.gif?v=2.5.3") no-repeat -450px 0px; margin: 0px 5px 0px 8px; width: 4px; height: 7px; line-height: 0; overflow: hidden; font-size: 0px; display: inline-block; _vertical-align: 2px;
}
#login {
	text-align: right;
}
#loginFormElem {
	top: 10px; right: 0px; white-space: nowrap; position: absolute;
}
#nsp_user_box {
	background: url("http://st1.dbank.com/images/index/allicon.gif?v=2.5.3") no-repeat 0px 0px; padding: 4px; border: currentColor; width: 172px; height: 16px; text-align: left; overflow: hidden; margin-right: 5px; vertical-align: top; display: inline-block;
}
#pass_box {
	background: url("http://st1.dbank.com/images/index/allicon.gif?v=2.5.3") no-repeat 0px 0px; padding: 4px; border: currentColor; width: 172px; height: 16px; text-align: left; overflow: hidden; margin-right: 5px; vertical-align: top; display: inline-block;
}
#nsp_user_box input {
	margin: 0px; padding: 0px; border: currentColor; width: 100%; float: left;
}
#pass_box input {
	margin: 0px; padding: 0px; border: currentColor; width: 100%; float: left;
}
#submit_btn {
	background: url("http://st1.dbank.com/images/index/allicon.gif?v=2.5.3") no-repeat 0px -116px; font: 14px/normal "ו"; border: 0px currentColor; width: 52px; height: 24px; color: rgb(255, 255, 255); cursor: pointer; font-size-adjust: none; font-stretch: normal; _margin-right: 5px;
}
#msg {
	background: rgb(204, 0, 0); padding: 0px 7px; top: 40px; height: 21px; line-height: 21px; display: none; position: absolute;
}
#tip {
	background: rgb(204, 0, 0); padding: 0px 7px; top: 40px; height: 21px; line-height: 21px; display: none; position: absolute;
}
#checkformtip {
	background: rgb(204, 0, 0); padding: 0px 7px; top: 40px; height: 21px; line-height: 21px; display: none; position: absolute;
}
#tip {
	
}
#checkformtip {
	left: 0px;
}
#msg {
	left: 40px; top: 50px;
}
#usernameTip {
	
}
#passwordTip {
	
}
#autologinTip {
	cursor: pointer;
}
#rememberme {
	width: 12px; height: 12px; vertical-align: -4px; _vertical-align: 3px;
}
#forgetPasswordTip {
	margin-left: 5px;
}
#otherLoginTypeTip {
	
}
#qqLoginTip {
	
}
#sinaLoginTip {
	
}
#sina_login_link {
	line-height: 20em; overflow: hidden; display: inline-block;
}
#qq_login_link {
	line-height: 20em; overflow: hidden; display: inline-block;
}
#sina_login_link {
	background: url("http://st1.dbank.com/images/index/allicon.gif?v=2.5.3") no-repeat -460px 0px; border: 0px currentColor; width: 16px; height: 13px;
}
#qq_login_link {
	background: url("http://st1.dbank.com/images/index/allicon.gif?v=2.5.3") no-repeat -481px -1px; border: 0px currentColor; width: 14px; height: 15px;
}
#loginstatus {
	
}
#pass_box input.pwd_bg {
	background: url("http://st1.dbank.com/images/index/bg_pwd.png?v=2.5.3") no-repeat 0px;
}
.btn-login-unbind#submit_btn {
	background: url("http://st1.dbank.com/images/index/allicon.gif?v=2.5.3") no-repeat -171px -116px; cursor: default;
}
